<!DOCTYPE html>
<html ng-app="torrent_agent">
	<head>
		
		
		<script type="text/javascript" src="./angular.min.js"></script>
		<script type="text/javascript" src="./app.js"></script>
		<title>

		</title>
	</head>
	<body ng-controller="InputController as inputCtrl">
		<div style="margin:20px;">
			<p><input type="text" style="width:900px" ng-model="inputCtrl.magnet"></p>
			<p><input type="button" value="download" ng-click="inputCtrl.download_torrent(inputCtrl.magnet)"></p>
		</div>	
		
		
	</body>
</html>